body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:417px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:32px;
  width:300px;
  height:416px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:200px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:83px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:32px;
  width:300px;
  height:82px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:81px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:81px;
  width:73px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:81px;
  width:24px;
  height:28px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:48px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:114px;
  width:300px;
  height:47px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:120px;
  width:79px;
  height:37px;
  color:#999999;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:130px;
  width:15px;
  height:16px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:38px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:119px;
  width:65px;
  height:37px;
  color:#999999;
  text-align:right;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:61px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:100px;
  top:161px;
  visibility:hidden;
}
#u93_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:301px;
  height:288px;
  background-image:none;
}
#u93_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:42px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:42px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:300px;
  height:41px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:42px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:300px;
  height:41px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:42px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:300px;
  height:41px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:42px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:300px;
  height:41px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:42px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:300px;
  height:41px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:42px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:300px;
  height:41px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:6px;
  width:35px;
  height:35px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:166px;
  width:35px;
  height:35px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:207px;
  width:35px;
  height:35px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:252px;
  width:35px;
  height:35px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:125px;
  width:35px;
  height:35px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:85px;
  width:35px;
  height:35px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:45px;
  width:35px;
  height:35px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
